[submodule "lib/SDL2"]
	path = lib/SDL2
	url = git@github.com:SDL-mirror/SDL.git
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = git@github.com:SDL-mirror/SDL_image.git
[submodule "lib/SDL2_ttf"]
	path = lib/SDL2_ttf
	url = git@github.com:SDL-mirror/SDL_ttf.git
[submodule "lib/Catch2"]
	path = lib/Catch2
	url = git@github.com:catchorg/Catch2.git
